@font-face {
    font-family: "ManropeBold";
    src: url("../assets/fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "ManropeRegular";
    src: url("../assets/fonts/Manrope-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "ManropeMedium";
    src: url("../assets/fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "ManropeLight";
    src: url("../assets/fonts/Manrope-Light.ttf") format("truetype");
}
@font-face {
    font-family: "ManropeExtraLight";
    src: url("../assets/fonts/Manrope-ExtraLight.ttf") format("truetype");
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
#game-page {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-color: #14bdac;
    overflow: hidden;
}
#turn-title {
    font-family: 'ManropeLight';
    color: #087a6f;
    margin: auto;
    width: fit-content;
    font-size: 30px;
    padding-top: 7px;
}
#game-board {
    width: 230px;
    height: 230px;
    margin: auto;
    background-color: wheat;
    margin-top: 10px;
}
#score-list {
    position: relative;
    top: -11px;
    width: fit-content;
    margin: auto;
}
#score-list li {
    width: fit-content;
    margin: auto;
    display: inline;
    
    font-family: 'ManropeBold';
    color: #f2ebd3;
    font-size: 30px;
}
#score-name {
    position: relative;
    font-family: 'ManropeRegular';
    color: #087a6f;
    font-size: 25px;
    width: fit-content;
    margin: auto;
}