@font-face {
    font-family: "ManropeBold";
    src: url("assets/fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "ManropeRegular";
    src: url("assets/fonts/Manrope-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "ManropeMedium";
    src: url("assets/fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "ManropeLight";
    src: url("assets/fonts/Manrope-Light.ttf") format("truetype");
}
@font-face {
    font-family: "ManropeExtraLight";
    src: url("assets/fonts/Manrope-ExtraLight.ttf") format("truetype");
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
#landing-page {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-color: #14bdac;
    overflow: hidden;
}
#app-title {
    font-family: 'ManropeLight';
    color: #087a6f;
    text-transform: uppercase;
    margin: auto;
    width: fit-content;
    font-size: 50px;
    padding-top: 0px;
}
.landing-buttons {
    width: 60px;
}
.landing-buttons-list {
    display: inline;
    width: fit-content;
    margin: auto;
}
.landing-buttons-list li {
    display: inline;
    width: fit-content;
    height: fit-content;
    padding: 5px;
}
#landing-buttons-div {
    width: fit-content;
    margin: auto;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 35px;
}
.links {
    text-decoration: none;
}
#landing-table {
    height: 170px;
    width: 170px;
    margin: auto;
    background-color: transparent;
    margin-top: 30px;
    position: relative;
}
.line {
    top: 0px;
    position: absolute;
    background-color: #0da192;
}
.board-vertical-line {
    width: 5px;
    height: 170px;
    animation: verticalAnim 1.5s ease-in-out;
}
.board-horizontal-line {
    width: 170px;
    height: 5px;
    margin: auto;
    animation: horizontalAnim 1.5s ease-in-out;
}
#vertical-1 {
    left: 53px;
}
#vertical-2 {
    left: 112px;
}
#horizontal-1 {
    top: 53px;
}
#horizontal-2 {
    top: 112px;
}
@keyframes horizontalAnim { 
    from { 
        margin-left: 85px;
        margin-right: 85px;
        width: 0px;
    }
    100% {
        margin-left: 0px;
        margin-right: 0px;
        width: 170px;
    }
}
@keyframes verticalAnim { 
    from { 
        margin-top: 85px;
        margin-bottom: 85px;
        height: 0px;
    }
    100% {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 170px;
    }
}