@font-face {
    font-family: "ManropeLight";
    src: url("assets/fonts/Manrope-Light.ttf") format("truetype");
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
#landing-page {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-color: #14bdac;
    overflow: hidden;
}
#app-title {
    font-family: 'ManropeLight';
    color: #087a6f;
    text-transform: uppercase;
    margin: auto;
    width: fit-content;
    font-size: 50px;
    padding-top: 0px;
}
.landing-buttons {
    width: 60px;
}
.landing-buttons-list {
    display: inline;
    width: fit-content;
    margin: auto;
}
.landing-buttons-list li {
    display: inline;
    width: fit-content;
    height: fit-content;
    padding: 5px;
}
#landing-buttons-div {
    width: fit-content;
    margin: auto;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 35px;
}
.links {
    text-decoration: none;
}
#landing-table {
    height: 170px;
    width: 170px;
    margin: auto;
    background-color: transparent;
    margin-top: 30px;
    position: relative;
}
.line {
    top: 0px;
    position: absolute;
    background-color: #0da192;
}
.board-vertical-line {
    width: 5px;
    height: 170px;
    animation: verticalAnim 1s ease-in-out;
}
.board-horizontal-line {
    width: 170px;
    height: 5px;
    margin: auto;
    animation: horizontalAnim 1s ease-in-out;
}
.board-horizontal-strike-line {
    width: 0px;
    height: 5px;
}
.strike {
    top: 0px;
    position: absolute;
    background-color: #087a6f;
}
#horizontal-strike-2 {
    top: 83px;
    width: 170px;
    animation: horizontalStrikeAnim 0.5s ease-in-out;
}
@keyframes horizontalStrikeAnim { 
    from { 
        width: 0px;
    }
    100% {
        width: 170px;
    }
}
#vertical-1 {
    left: 53px;
}
#vertical-2 {
    left: 112px;
}
#horizontal-1 {
    top: 53px;
}
#horizontal-2 {
    top: 112px;
}
@keyframes horizontalAnim { 
    from { 
        margin-left: 85px;
        margin-right: 85px;
        width: 0px;
    }
    100% {
        margin-left: 0px;
        margin-right: 0px;
        width: 170px;
    }
}
@keyframes verticalAnim { 
    from { 
        margin-top: 85px;
        margin-bottom: 85px;
        height: 0px;
    }
    100% {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 170px;
    }
}
.x {
    position: relative;
    width: 45px;
    height: 45px;
}
.x-line-1 {
    height:6px;
    width:0;
    background:#545454;
    transform:translateX(1px) rotate(45deg);
    transform-origin:left;
    animation:xAnim 0.25s linear forwards;
}
@keyframes xAnim{
    to {width:60px;}
  }
.x-line-2 {
    position: absolute;
    height:6px;
    width:0;
    background:#545454;
    transform:translateX(43px) translateY(-5px) rotate(135deg);
    transform-origin:left;
    animation:xAnim 0.25s 0.25s linear forwards;
}
.o {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    border-width: 6px;
    border-color: #f2ebd3;
    border-style: solid;
    background-color: transparent;
    animation: circleAnim 0.5s ease-in-out;
}
@keyframes circleAnim { 
    from { 
        opacity: 0.3;
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.tap-box {
    width: 45px;
    height: 45px;
}
#tap-box-1 {
    position: absolute;
    top: 4.166px;
    left: 4.166px;
}
#tap-box-2 {
    position: absolute;
    top: 4.166px;
    left: 62.4993px;
}
#tap-box-3 {
    position: absolute;
    top: 4.166px;
    left: 120.8333px;
}
#tap-box-4 {
    position: absolute;
    top: 62.4993px;
    left: 4.166px;
}
#tap-box-5 {
    position: absolute;
    top: 62.4993px;
    left: 62.4993px;
}
#tap-box-6 {
    position: absolute;
    top: 62.4993px;
    left: 120.8333px;
}
#tap-box-7 {
    position: absolute;
    top: 120.8333px;
    left: 4.166px;
}
#tap-box-8 {
    position: absolute;
    top: 120.8333px;
    left: 62.4993px;
}
#tap-box-9 {
    position: absolute;
    top: 120.8333px;
    left: 120.8333px;
}